<div class="profile-card" ngIf="profile">
  <div class="avatar-name">
    <img
      [src]="profile.avatarUrl && '/assets/images/avatar.png'"
      alt="avatar"
      class="profile-card__avatar"
    />

    <div class="profile-card__name">
      <strong class="h6">{{ profile.firstName }} {{ profile.lastName }}</strong>
      <span class="subtitle">{{ profile.username }}</span>
    </div>
  </div>

  <div class="profile-card__description">
    {{ profile.description || `Список навыков, который мы обсудили выше, — основа резюме,
    но не единственная его часть. Также можно рассказать о себе в классическом
    смысле — этот раздел можно добавить в сопроводительное письмо.`}}
  </div>

  <div class="profile-card__tags">
    @for (skill of profile.stack; track skill) {
    <div class="skill-tag">
      {{ skill }}
    </div>
    } @if (profile.stack && profile.stack.length === 0) {
    <div class="skill-tag">Навыки не указаны</div>
    }
  </div>

  <div class="profile-card__action-btns">
    <button class="btn">Подписаться</button>
  </div>
</div>
